
<form action="" method="" class="form-horizontal" role="form">
        <div class="form-group">
            <legend>Contacter {{ items[index].user.name }}</legend>
        </div>

        <div class="form-group">
            <label for="msg-subject" class="control-label col-sm-3">Sujet du message</label>
            <div class="col-sm-9">
                <input id="msg-subject" type="text" disabled="disabled" class="form-control" value='Annonce pour le trajet "{{ items[index].journey.start.location.name }}" -> "{{ items[index].journey.end.location.name }}"'>
            </div>
        </div>
        <div class="form-group">
            <label for="msg-content" class="control-label col-sm-3">Corps du message</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="msg-content" rows="10">
Bonjour,

Je me permet de vous contacter suite à votre annonce concernant un trajet de "{{ items[index].journey.start.location.name }}" à "{{ items[index].journey.end.location.name }}".
Je suis conducteur et compte également faire ce trajet. Peut être pourrions nous voyager ensemble ?
N'hésitez pas à me répondre de manière à discuter ensemble du point de rendez-vous.
                </textarea>
            </div>
        </div>

        <div class="form-group">
                <a href="#!/messagerie/discussion/2" type="button" class="btn btn-primary pull-right btn-pull-right">Envoyer</a>
                <a href="#!/resultats/1" class="btn btn-warning pull-right btn-pull-right">Retour aux résultats</a>
        </div>
</form>
