<legend>Discussion avec {{ his.name }}</legend>
<div ng-show="hasMsg">
    <ol class="discussion">

        <ng-repeat ng-repeat="item in msg">
            <li class="msg-other" ng-if="! item.isMine">
                <div class="avatar">
                    <img src="{{ his.urlAvatar }}" alt="Avatar de {{ his.name }}">
                </div>
                <div class="msg">
                    <p ng-bind-html="item.msg"></p>
                    <time>{{ item.date.getDay() }}:{{ item.date.getMinutes() }}</time>
                </div>
            </li>
            <li class="msg-self" ng-if="item.isMine">
                <div class="avatar">
                    <img src="{{ mine.urlAvatar }}" alt="Avatar de {{ mine.name }}">
                </div>
                <div class="msg">
                    <p ng-bind-html="item.msg"></p>
                    <time>{{ item.date.getHours() }}:{{ item.date.getMinutes() }}</time>
                </div>
            </li>
        </ng-repeat>
    </ol>

</div>
<div ng-show="!hasMsg">
    
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Il n'y a aucun message à afficher pour l'instant</strong>
        <br>
        <br>
        <p>Envoyer le premier message !</p>
    </div>
    
</div>
<textarea ng-model="newMessage" class="textarea form-control" type="text" placeholder="Tapez votre message ici !"></textarea>
<div ng-click="sendMessage()" class="btn btn-primary pull-right btn-discussion">Envoyer</div>
<div class="btn btn-warning pull-right btn-pull-right btn-discussion">Retour aux messages</div>
