<legend>Mes messages</legend>

<div class="list-group">
    <a href="#!/messagerie/discussion/{{ message.id }}" class="list-group-item" ng-repeat="message in messages">
        <span class="badge">{{ message.notRead }}</span>
        <h4 class="list-group-item-heading">{{ message.sender.name  }}</h4>
        <p class="list-group-item-text">{{ message.subject }}</p>
        
    </a>
    
</div>