<nav class="navbar navbar-default">
                
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Autostop Ardèche</a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="selected.index"><a href="#">Accueil</a></li>
                    <li ng-class="selected.about"><a href="#">À propos</a></li>
                </ul>
                
                
                <ul class="nav navbar-nav navbar-right" ng-class="selected.connection">
                    <li ng-if="! isConnected">
                        <a class="btn navbar-btn"  ng-click="openModal()">Connexion</a>
                    </li>
                    <li ng-if="! isConnected" ng-class="selected.inscription">
                        <a class="btn navbar-btn" href="#!/inscription">Inscription</a>
                    </li>
                    
                    <li ng-if="isConnected" >
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ user.name }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Mes préférences</a></li>
                                <li><a href="#!/mes-trajets">Mes trajets</a></li>
                                <li><a href="#!/messagerie">Mes messages</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" ng-click="logout()">Se déconnecter</a></li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <script type="text/ng-template" id="connectionModalContent.html">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Connexion</h3>
            </div>
            <div class="modal-body">
                <form action="#" method="" class="form-horizontal" role="form">
                    <div id="error-form" class="alert alert-danger hide">
                        <strong>Identifiant ou mot de passe incorrect</strong>
                    </div>
                    <div class="form-group connection-form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-9">
                            <input ng-model="modal.email" type="text" name="email" id="email" class="form-control"  required="required">
                        </div>
                    </div>
                    <div class="form-group connection-form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-9">
                            <input ng-model="modal.password"  ng-keypress="modalKeypressPassword( $event )" type="password" name="password" id="password" class="form-control"  required="required">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-sm-11">
                            <button class="btn btn-primary pull-right" type="button" ng-click="modalConnection()">Se connecter</button>
                            <button class="btn btn-warning pull-right btn-pull-right" type="button" ng-click="modalCancel()">Annuler</button>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </form>
            </div>
        </div>
    </script>